@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


html,body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.8;
  color: #414042;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
 }

a {
  text-decoration: none;
}

a:hover {
 text-decoration: none;
}

a:visited, a:focus {
  text-decoration: none;
  color: #909090;
}

 /*Nav bar style*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default, .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

#menu {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

#menu .nav li a {
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}

#menu .nav li a.non-active:hover {
  color: rgb(27, 173, 204);
}

#menu .nav li a.active {
  color: rgb(27, 173, 204);
  border-bottom: 2px solid rgb(27, 173, 204);
}

.navbar-nav>li>a {
    padding: 0px;
    padding-bottom: 4px;
    margin: 1vw;
}

.nav {
  padding: 1vw;
  margin-right: 0;
}

.sub-navbar {
  margin-bottom: 0;
  text-align: center;
}

.navbar-default {
  background-color: white;
}

.navbar-header {
  padding-top: 1%;
  padding-left: 3%;
}

.navbar-default .navbar-brand {
  color: rgba(0,0,0);
  transition: 0.3s;
}

.navbar-default .navbar-brand:hover {
  color: rgb(27, 173, 204);
  transition: 0.6s;
}

.menubar {
  width: 100%;
}

.sub-navbar {
  margin-bottom: 0;
}

#sub-navbar {
  border-color: transparent;
}

.navbar-brand {
  font-size: 25pt;
  font-weight: 500;
}

/*wrap*/
#wrap {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

#grids-wrap {
  padding: 3%;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
}

#content {
  padding: 5%;
  padding-bottom: 0;
}

/*font size*/
h3 {
  font-weight: 400;
  font-size: 20pt;
  line-height: 1.8;
}

.refs{
  color: #181818;
  text-decoration: underline;
}

.refs:visited, .refs:focus {
  text-decoration: underline;
  color: #181818;
}


.resume h4{
  font-weight: 600;
  font-size: 16pt;
  line-height: 1.8;
  color: #181818;
}

.resume h4:hover {
  color: rgb(27, 173, 204);
}

.resume h4:visited, .resume h4:focus {
  color: #181818;
}

b {
  font-weight: 700;
}

img {
  padding: 5%;
  padding-bottom: 8%;
}

/* Footer style*/
.footer {
  padding-bottom: 1%;
}

.footer p {
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 1pt;
  padding-bottom: 3%;
  margin-bottom: 0;
  text-align: center;
}

/*Social media icons*/
#social-media {
  text-align: center;
  padding-top: 6%;
}

#social-media a {
  font-size: 18pt;
}

.fa {
  padding: 25px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

.fa:hover {
  color: rgb(27, 173, 204);
  text-decoration: none;
}

.fa{
  color: #909090;
}

@media (max-width: 1024px) {
  #wrap, #grids-wrap {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-brand {
    padding-top: 15px;
  }
}

@media (max-width: 376px) {
  .fa {
    width: 50px;
  }

  .resume h4 {
    font-size: 14pt;
  }

  h3 {
    font-size: 18pt;
  }
}

.embed, .embed:hover {
  text-decoration: underline;
  color: #414042;
  font-weight: 400;
}

.embed:visited, .embed:focus {
  text-decoration: underline;
  color: #414042;
  font-weight: 400;
