@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/*General style*/
html,body {
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  vertical-align: middle;
  line-height: 1.4;
  color: #181818;
  background-color: #f7f5ef;
  border: 2px solid #181818;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
 }

 p {
   margin: 0;
 }

/*Typography*/

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  color: #181818;
}

h1, h2{
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 18px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h4 {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.bold {
  font-weight: 600;
}

/*Tag*/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 12px;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  color: #474747;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #FFFFFF;
  border-radius: 0px;
}

/*button*/
.btn {
    display: inline-block;
    padding: 12px 30px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #181818;
    border: 1px solid transparent;
    border-radius: 200px;
    color: white;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
  color: white;
  background-color: grey;
  transition-duration: 0.3s;
}

.btn:focus {
  outline: none !important;
}

 /*Nav bar style*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default, .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(0,0,0);
}

#menu {
  padding-right: 0;
  padding-left: 0;
}

#menu .nav li a {
  font-size: 18px;
  font-weight: 400;
  color: #181818;
  margin-left: 30px;
  padding-top: 18px;
  text-decoration: none;
  position: relative;
}

#menu .nav li a:hover {
  color: grey;
  transition-duration: 0.3s;
}

#menu .nav li a.active {
  color: #181818;
  font-weight: 600;
  border-bottom: 2px solid #181818;
}

.navbar-nav>li>a {
    padding: 0px;
    padding-bottom: 4px;
}

.nav {
  padding: 0;
  margin-right: 0;
}

.sub-navbar {
  margin-bottom: 0;
  text-align: center;
}

.navbar-default {
  background-color: #f7f5ef;
}

.navbar-header {
  padding-top: 1%;
  padding-left: 3%;
}

.navbar-default .navbar-brand {
  color: rgba(0,0,0);
  transition: 0.3s;
}


.navbar-default .navbar-brand:hover {
  color: #181818;
  transition: 0.6s;
}

.menubar {
  width: 100%;
  padding: 0
}

.sub-navbar {
  margin-bottom: 0;
}

#sub-navbar {
  border-color: transparent;
}

.navbar-brand {
  font-size: 25px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-weight: 500;
}

#tabs {
  padding: 0;
  margin-top: 5%;
}

/*wrap*/
#wrap {
  margin-left: 20%;
  margin-right: 20%;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
}

.row, .col {
  padding: 0;
}

.col {
  margin-top: 5%;
  margin-bottom: 5%;
}

.col-0 {
  margin-top: 15%;
  margin-bottom: 15%;
}

.col-1 {
  padding-right: 3%;
}

/*Link style*/
a {
  text-decoration: none;
}

a:hover {
 text-decoration: none;
}

a:visited, a:focus {
  text-decoration: none;
  color: #181818;
}

/*Social media icons*/
#social-media {
  text-align: center;
}

#social-media a {
  font-size: 30px;
  vertical-align: middle;
}

.fa {
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

.fa:hover {
    color: #181818;
    text-decoration: none;
}

.fa{
  color: #909090;
}

/* Footer style*/
.footer {
  padding: 0;
  margin: 0;
  border-top: 0.5px solid #474747;
  padding-top: 25px;
  margin-top: 15%;
  margin-bottom: 6%;
}

.footer-text {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 46px
}

.footer-icon {
  padding: 0;
  margin: 0;
  max-width: 46px;
  padding-left: 10px;
  float: right;
}

.footer-icon:hover {
  opacity: 50%;
  transition-duration: 0.3s;
}

/*Responsive style*/
@media (min-width: 2112px) {
  #wrap {
    margin-left: 25%;
    margin-right: 25%;
  }

  .col-2 {
    margin-left: -20px;
  }
}

@media (max-width: 834px) {


  html, body {
    border: 1px solid #181818;
  }


  #wrap {
    margin-left: 11%;
    margin-right: 11%;
  }



  h1 {
    font-size: 30px;
    line-height: 46px;
  }

  h3 {

  }

  h2 {
    font-size: 22px;
    line-height: 30px;
  }
}


@media (max-width: 428px) {

  html, body {
    border: 2px solid transparent;
  }

  #wrap {
    margin-left: 6%;
    margin-right: 6%;
  }

  .col-1 {
    padding-right: 0;
  }

  h1 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
  }

  h4 {
    font-size: 15px;
    line-height: 21px;
  }

  .btn {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 30px;
  }

  .badge {
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
  }

  #menu {
    margin-right: -6px;
  }

  #menu .nav li a.active {
    border-bottom: 0;
  }

  .footer {
    border-top: 0.4px solid #474747;
    padding-top: 12px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 36px
  }


}

/* ----------- archived
.show {
  padding-left: 0px;
  padding-right: 0px;
}

.show figcaption:hover {
  background-color: white;
}

.show-later {
  padding: 8%;
  padding-top: 0;
  display: none;
}
*/
/* Grids style & figcaption
figure>img {
  padding: 2%;
}

figure:hover figcaption {
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
}

figcaption {
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  padding: 10%;
  padding-top: 15%;
  position: absolute;
  text-decoration: none;
}

figcaption:hover {
  background-size:cover;
  opacity: .98;
  transition: all, 1s, ease-in-out;
  -webkit-transition: all, 1s, ease-in-out;
	-moz-transition: all, 1s, ease-in-out;
	-ms-transition: all, 1s, ease-in-out;
	-o-transition: all, 1s, ease-in-out;
}

figcaption h3 {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.6;
  color: #181818;
  text-align: center;
}

figcaption h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #181818;
  text-align: center;
}

figcaption p {
  text-align: center;
  font-size: 14px;
  color: #181818;
}
*/
